{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
.profile-image-container {
    width: 400px;
    height: 400px;
    position: relative; /* Add relative positioning */
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.follow-button {
    position: absolute;
    bottom: 0; /* Position at the bottom */
    right: 0; /* Position at the right */
    margin: 10px; /* Add some margin for spacing */
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-image-container">
                <img src="{{ image_url }}" alt="{{ author.username }} Profile Image" class="profile-image">
                {% if user.is_authenticated and user != author %}
                    {% if user in user_profile.followers.all %}
                        <a href="{% url 'unfollow' author.id %}" class="btn btn-primary follow-button">Unfollow</a>
                    {% else %}
                        <a href="{% url 'follow' author.id %}" class="btn btn-primary follow-button">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <h1>{{ author.username }}'s Profile</h1>
            <hr>
            <p class="card-text"><strong>User Name:</strong> {{ author.first_name }} {{ author.last_name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ author.email }}</p>
            <p class="card-text"><strong>Last Login:</strong> {{ author.last_login }}</p>
            <p class="card-text"><strong>Date Joined:</strong> {{ author.date_joined }}</p>
        </div>
    </div>
    <div class="profile-counts">
        <p><strong>Followers:</strong> {{ user_profile.followers.count }}</p>
        <p><strong>Following:</strong> {{ user_profile.followings.count }}</p>
        {% if user.is_authenticated and user != author %}
            <a href="{% url 'send_message' author.id %}" class="btn btn-secondary message-button">Send Message</a>
        {% endif %}
    </div>
</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="followers-section">
                <h6>Followers</h6>
                <table class="table table-bordered">
                    <tbody>
                        {% for follower in user_profile.followers.all %}
                            <tr>
                                <td><a href="{% url 'author_profile' follower.id %}" class="profile-link">{{ follower.username }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="following-section">
                <h6>Following</h6>
                <table class="table table-bordered">
                    <tbody>
                        {% for following in user_profile.followings.all %}
                            <tr>
                                <td><a href="{% url 'author_profile' following.id %}" class="profile-link">{{ following.username }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


