{% extends 'base.html' %}
{% block content %}
<style>
.profile-image-container {
    width: 400px;
    height: 400px;
    position: relative; /* Add relative positioning */
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.follow-button {
    position: absolute;
    bottom: 0; /* Position at the bottom */
    right: 0; /* Position at the right */
    margin: 10px; /* Add some margin for spacing */
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-image-container">
                <img src="{{ image_url }}" alt="{{ author.username }} Profile Image" class="profile-image">
                {% if user.is_authenticated and user != author %}
                    {% if user in user_profile.followers.all %}
                        <a href="{% url 'unfollow' author.id %}" class="btn btn-primary follow-button">Unfollow</a>
                    {% else %}
                        <a href="{% url 'follow' author.id %}" class="btn btn-primary follow-button">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <h1>{{ author.username }}'s Profile</h1>
            <hr>
            <p class="card-text"><strong>User Name:</strong> {{ author.first_name }} {{ author.last_name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ author.email }}</p>
            <p class="card-text"><strong>Last Login:</strong> {{ author.last_login }}</p>
            <p class="card-text"><strong>Date Joined:</strong> {{ author.date_joined }}</p>
        </div>
    </div>
    <div class="profile-counts">
    <p><strong>Followers:</strong> {{ user_profile.followers.count }}</p>
    <p><strong>Following:</strong> {{ user_profile.followings.count }}</p>
</div>
</div>
{% endblock %}
