{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-3">
        <div class="card card-stats card-primary">
            <div class="card-body">
                <h5 class="card-title">Total Followers</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ followers_count|add:followers_count }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ followers_count }}</p>
            </div>
        </div>
    </div>
     <div class="col-md-3">
        <div class="card card-stats card-secondary">
            <div class="card-body">
                <h5 class="card-title">Total Followings</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ following_count|add:following_count }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ following_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-accent">
            <div class="card-body">
                <h5 class="card-title">Total Received Messages</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ received_messages_count|add:received_messages_count }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ received_messages_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-stats card-ternary">
            <div class="card-body">
                <h5 class="card-title">Total Sent Messages</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ send_messages_count|add:send_messages_count }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ send_messages_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card card-stats card-secondary">
            <div class="card-body">
                <h5 class="card-title">Total Blogs</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ blogs_count|add:blogs_count }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ blogs_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card card-stats card-primary">
            <div class="card-body">
                <h5 class="card-title">Total Added Records</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ total_records|add:total_records }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ total_records }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="card card-stats card-secondary">
            <div class="card-body">
                <h5 class="card-title">Total Active Users</h5>
                <div class="heatmap-container">
                    <div class="heatmap">
                        <div class="heatmap-inner" style="width: {{ active_users|add:active_users }}%;"></div>
                    </div>
                </div>
                <p class="heatmap-label">{{ active_users }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <h3 class="mb-3">Discover People</h3>
        <ul class="list-group">
            {% for user_to_follow in users_to_follow %}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #f8f9fa; border: none;">
                <div class="d-flex align-items-center">
                    <img src="{{ user_to_follow.user_image.profile_image.url }}" alt="{{ user_to_follow.username }} Profile Image" class="rounded-circle" width="50" height="50" style="object-fit: cover; border: 2px solid #ddd;">
                    <a href="{% url 'author_profile' user_to_follow.id %}" class="text-decoration-none ml-3" style="color: #333; font-weight: bold;">{{ user_to_follow.username }}</a>
                </div>
                <div>
                    {% if user_to_follow in user_profile.followings.all %}
                        <a href="{% url 'author_profile' user_to_follow.id %}" class="btn btn-secondary btn-sm">UnFollow</a>
                    {% else %}
                        <a href="{% url 'author_profile' user_to_follow.id %}" class="btn btn-primary btn-sm">Follow</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <br/>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-secondary">Login</button>
</form>
{% endif %}

{% endblock %}
